@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+HU:wght@100..400&family=Preahvihear&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 /*font-family: "Roboto Mono", monospace; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: 'Roboto Mono', monospace;
}

.menu {
    width: 100%;
    color: #F0FFFFFF;
}

.logo h1 {
    font-size: 70px;
    text-align: left;
    margin: 20px 0 0 30px;
}

.menu ul {
    display: flex;
    justify-content: right;
    font-size: 30px;
}

.menu ul li:hover {
    transform: scale(1.1);
}

ul,li {
    margin-right: 15px;
    list-style-type: none;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.2s ease;
}

.title {
    text-align: center;
    position: relative;
    top: 350px;

    text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff,
            0 0 80px #fff;


    animation: neon-flicker 5s infinite alternate;
}

@keyframes neon-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
    }
    20%, 22%, 24%, 55% {
        text-shadow: none;
        color: #333;
    }
}

.title p {
    font-size: 200px;
    font-weight: 50;
    color: #F0FFFFFF;
}

.title_1 p {
    text-align: center;
    margin-top: -36px;

    color: #F0FFFFFF;

    font-size: 40px;
    /*font-family: 'Roboto Thin', sans-serif;*/
    background: none;
}


.title_2 {
    text-align: center;
    position: relative;
    top: 400px;

    color: #F0FFFFFF;

    font-size: 40px;
    /*font-family: 'Roboto Thin', sans-serif;*/
    background: none;

}


.about_photoMe {
    display: flex;
    justify-content: center;
    margin-top: 822px;
}

.about_photoMe img {
    width: 500px;
    height: auto;
    transition: 0.5s ease;

}

.about_photoMe img:hover {
    transform: scale(1.1);
    opacity: 0.6;
    cursor: pointer;
}

.about_photoMe1 {
    position: absolute;
    top: 1400px;
    left: 950px;
}

.about_photoMe1 img {
    width: 450px;
    height: auto;
    transition: 0.5s ease;
}

.about_photoMe1 img:hover {
    transform: scale(1.1);
    opacity: 0.6;
    cursor: pointer;
}

.about_photoMe2 {
    position: absolute;
    top: 1400px;
    left: 2038px;
}

.about_photoMe2 img {
    width: 460px;
    height: 664px;
    transition: 0.5s ease;
}

.about_photoMe2 img:hover {
    transform: scale(1.1);
    opacity: 0.6;
    cursor: pointer;
}

.button {
    position: absolute;
    top: 165%;
    left: 45.5%;

    width: 300px;
    height: 60px;

    background: #050505;
    color: white;
    text-align: center;
    padding-top: 18px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.button a {
    background: none;
    font-size: 20px;
    font-family: 'Roboto Mono', sans-serif;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    position: absolute;
    top: 2500px;

    width: 100%;
    height: 100px;
    background: #111010;
}

