@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+HU:wght@100..400&family=Preahvihear&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
 /*font-family: "Roboto Mono", monospace; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    font-family: 'Roboto Mono', monospace;
}

